.sidebar{
    width: 300px;
    height: calc(100vh - 64px);
    display: inline-block;
    background: var(--bg-primary-theme);
}

.sidebar .profile {
    padding: 20px;
}

.line {
    border-top: 1px solid var(--bg-secondary-theme);
}

.sidebar .menu {
    padding: 10px 0;
}

.sidebar .menu a {
    text-decoration: none;
    list-style: none;
    color: var(--primary-color);
}

.sidebar .menu a:hover {
    color: var(--secondary-color);
}

.sidebar .menu ul li {
    padding: 5px 20px;
}

.sidebar .menu ul li:hover {
    background: var(--bg-secondary-theme);
    cursor: pointer;
}

.sidebar .profile img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    border: 3px solid var(--bg-secondary-theme);
}

.sidebar .profile img:hover {
    cursor: pointer;
    margin: -2px;
    margin-right: 8px;
    border: 5px solid var(--bg-secondary-theme);
}

.sidebar .menu li svg {
    vertical-align: text-top;
}

.sidebar .menu h3 {
    padding: 0 20px;
    margin-bottom: 10px;
}