.container .dashboard {
  width: calc(100vw - 300px);
  background: var(--bg-primary-theme);
  margin: 0px;
  float: right;
}

.dashboard h1 {
  text-align: left;
}

.board {
  background: var(--bg-primary-color);
  padding: 20px;
  overflow-x: scroll;
  white-space: nowrap;
  min-height: fit-content;
  height: calc(100vh - 168px);
  overflow-y: hidden;
}