.main-card {
    background: var(--bg-secondary-theme);
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    width: 250px;
}


.title {
    display: block;
    height: 35px;
    padding: 5px;
}

.title h3 {
    float: left;
    padding: 5px;
}

.title svg {
    display: inline-block; 
    height: 24px;
    width: 24px;
}

.title .options-btn {
    float: right;
    height: 24px;
    padding: 5px;
    border-radius: 5px;
}

.title .options-btn:hover {
    cursor: pointer;
    background: var(--bg-primary-theme);
}

.actions {
    display: block;
    height: 24px;
    padding-top: 5px;
}

.actions .add-btn {
    float: left;
    height: 24px;
    padding: 5px;
    border-radius: 5px;
}

.actions .add-btn:hover {
    cursor: pointer;
    background: var(--bg-primary-theme);
}

.actions .add-btn span {
    display: inline-block;
    padding-left: 5px;
}

.actions svg {
    display: inline-block; 
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.actions .mark-all-btn {
    float: right;
    height: 24px;
    padding: 5px;
    border-radius: 5px;
}

.actions .mark-all-btn:hover {
    cursor: pointer;
    background: var(--bg-primary-theme);
}

.add-maincard {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.add-maincard button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    background-color: var(--bg-secondary-theme);
    color: var(--secondary-color);
    font: var(--font-l);
}

.add-maincard svg {
    vertical-align: sub;
}

.add-maincard button:hover {
    cursor: pointer;
    background-color: var(--bg-primary-theme);
    color: var(--primary-color);
}