.modal-bg {
  background-color: var(--bg-secondary-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  opacity: 0.85;
  cursor: pointer;
}

.modal {
  background-color: var(--bg-primary-theme);
  border-radius: 10px;
  color: var(--primary-color);  
  position: absolute;
  min-width: 320px;
  max-height: calc(100vh - 100px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: auto;
  white-space: pre-line;
}

.modal h1 {
  border-radius: 10px 10px 0 0;
  background-color: var(--bg-secondary-theme);
  color: var(--primary-color);
}