.login-form button.register {
  background: #2ecc71;
}

.login-form button.register:hover {
  background-color: #27ae60;
}

.login-form label.rule {
  font: var(--font-s);
  text-decoration: underline;
  margin-bottom: 6px;
}

.login-form a.rule {
  color: var(--primary-color);
}

.login-form a.rule:hover {
  color: var(--secondary-color);
}

.login-form input[type="checkbox"] {
  cursor: pointer;
  margin-right: 5px;
  accent-color: var(--bg-secondary-theme);
  width: 17px;
  height: 17px;
  float: left;
}
