.header {
  padding: 0 20px;
  height: 64px;
  background: var(--bg-secondary-theme);
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header a {
    font: var(--font-m);
    text-decoration: none;
    padding: 0 10px;
    color: var(--primary-color);
}

.header a:hover {
    color: var(--secondary-color);
}

.nav-left {
    float: left;
}

.nav-left ul li {
    cursor: pointer;
    padding: 20px 15px;
    float: left;
}

.nav-left ul li:hover {
    background: var(--bg-primary-theme);
}

.nav-right ul li {
    cursor: pointer;
    padding: 20px 15px;
    float: right;
}

.nav-right ul li:hover {
    background: var(--bg-primary-theme);
}
