.header {
  padding: 0 20px;
  height: 64px;
  background: var(--bg-secondary-theme);
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header a {
    font: var(--font-m);
    text-decoration: none;
    padding: 0 10px;
    color: var(--primary-color);
}

.header a:hover {
    color: var(--secondary-color);
}

.theme {
    float: left;
    margin-top: 13px;
    margin-right: 20px;
}

.theme .btn {
    
    padding: 5px 10px;
    background-color: var(--bg-primary-theme);
    color: var(--primary-theme);
    border: 1px solid var(--secondary-color);
    vertical-align: middle;
}

.theme .theme-btn {
    border-radius: 5px 0 0 5px;
    margin-right: -1px;
}

.theme .color-btn {
    border-radius: 0 5px 5px 0;
}

.theme .btn:hover {
    background-color: var(--secondary-color);
    color: var(--bg-secondary-theme);
}

.nav-left {
    float: left;
}

.nav-left ul li {
    cursor: pointer;
    padding: 20px 15px;
    float: left;
}

.nav-left ul li:hover {
    background: var(--bg-primary-theme);
}

.nav-right ul li {
    cursor: pointer;
    padding: 20px 15px;
    float: right;
}

.nav-right ul li:hover {
    background: var(--bg-primary-theme);
}
